
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    padding: 10px;
    gap: 10px;

    section{
        height: 100%;
        flex-grow: 1;
        border-radius: 10px;
        background-size: cover;
        background-position: center;
        transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
    }

    section:hover{
        flex-grow: 3;
     
        cursor: pointer;
    }

    section:nth-child(1){
            background-image: url(./bmw.jpg);
    }

    section:nth-child(2){
        background-image: url(./c2.avif);
    }

    section:nth-child(3){
        background-image: url(./car3.avif);
    }

     section:nth-child(4){
        background-image: url(./car4.avif);
    }

     section:nth-child(5){
        background-image: url(./lambo.avif);
    }

}